<section class="w-75 mx-auto">

    <div class="row bg-main-light p-2 shadow " >
        <div class="col-md-4">
            <div><img [src]="brandDetails.image" class="w-100" [alt]="brandDetails.name"></div>
        </div>
        <div class="col-md-8 ">
           <div class=" h-100 d-flex flex-column justify-content-center" >
             <h3 class="fw-semibold"> Brand Name :{{brandDetails.name}}</h3>
            <h3 class="fw-semibold"> Slug Name :{{brandDetails.slug}}</h3></div>
        </div>
    </div>


</section>