


<ng-template #msg><p *ngIf="cartDetails.products!=0" class="text-center fs-1">Your Cart is Empty.....</p></ng-template>

<section class="py-5">


    <section class=" w-75 mx-auto my-5 p-3 rounded bg-main-light shadow " *ngIf="cartDetails.products;else msg ">

        <div class="d-flex justify-content-between align-items-center"> <h2 class="fw-bold ">Shop cart</h2>
                 <button (click)="clear()" class="btn btn btn-outline-danger"> Clear All</button>
     </div>
     
         <p class="text-main fw-semibold">Total Price : {{cartDetails.totalCartPrice| currency:' EGP '}} </p>
     
         <div class="row border-bottom p-2" *ngFor="let item of cartDetails.products">
             <div class="col-md-2 ">
                 <img [src]="item.product.imageCover" class="w-100" [alt]="item.product.title">
             </div>
             <div class="col-md-10 ">
     
              <div class="d-flex align-items-center justify-content-between">
     
                 <div>
                     <h3 class="h5 fw-semibold">{{item.product.title}} </h3>
                     <p class="mx-0 text-main fw-semibold"> Price : {{item.price | currency:' EGP '}} </p>
                     <button class=" btn-main" (click)="deleteCartItem(item.product._id)"><i class="fa-solid fa-trash-can"></i> Remove </button>
                 </div>
     
                 <div>
                     <button class="btn btn-outline-success" (click)="changeCount(item.product._id,item.count+1)"><span class="fw-bold">+</span></button>
                 <span class="fw-semibold m-1"> {{item.count}} </span>
                     <button class="btn btn-outline-success"  (click)="changeCount(item.product._id,item.count-1)"><span class="fw-bold">-</span></button>
                 </div>
              </div>
     
     
             </div>
         </div>
     
         <button [routerLink]="['/checkout',cartDetails._id]" class="btn-main m-2">Online Payment <img src="./assets/images/visa-1.svg" alt=""></button>
     
     </section>
</section>