<section class=" mt-5 py-5">

    <p *ngIf="products.length ==0" class="text-center fs-1">Your wishlist is Empty</p>

   
    

    <div class="row g-2">
        <div class="col-md-2" *ngFor="let item of products">
            <div class="product p-2">

                
               
                <i class="fa-solid fa-xmark heart" (click)="removeIdtem(item._id)" role="button"></i>
             
                <div class="cursor-pointer" [routerLink]="['/details',item._id]">
                    <img [src]="item.imageCover " class="w-100" [alt]="item.title">
                    <h3 class="h6 fw-bold text-main"> {{item.category.name}} </h3>
                    <h4 class="h6 fw-semibold"> {{item.title.split(' ').slice(0,2).join(' ')}} </h4>
    
                    <div class="d-flex align-items-center justify-content-between"><span> {{item.price}} EGP</span>

                        <span><i  [class.rating-color]="item.ratingsAverage >= num"
                          *ngFor="let num of [1,2,3,4,5]" class="fa-solid fa-star fa-sm  "></i>
                          <span class="text-muted"> {{item.ratingsAverage}} </span>
                        </span>

                    </div>
    </div>
               
                <button class="btn-main w-100" (click)="addProduct(item._id)"> +Add Product</button>
            </div>
        </div>
       

    </div>
</section>
