<section class="bg-main-light w-50 mx-auto shadow p-3 mt-5">
<form [formGroup]="enterEmailForm" (ngSubmit)="sendCode()" *ngIf="step1">

   <label class="fw-semibold" for="email">Email</label>
    <input type="email" id="email" class="form-control" formControlName="email">

    <button class="btn-main w-100 mt-2">Send Code</button>

    <p class=" alert alert-danger p-1 mb-0 w-75 mx-auto text-center" *ngIf="MSg"> {{MSg}} </p>
  
  

   

</form>

  <form [formGroup]="enterCodeForm" (ngSubmit)="verifyCode()" *ngIf="step2"> 
     <label class="fw-semibold" for="code">Enter Code</label>
    <input type="text" id="code" class="form-control" formControlName="resetCode">

    <button class="btn-main w-100 mt-2">Verify Code</button>

    <p class=" alert alert-danger p-1 mb-0 w-75 mx-auto text-center" *ngIf="MSg"> {{MSg}} </p>
  


    

</form>

    

   <form [formGroup]="newPasswordForm" (ngSubmit)="setNewPassword()" *ngIf="step3" >

   <label class="fw-semibold" for="password">Enter New password</label>
        <input type="password" id="password" class="form-control" formControlName="newPassword">
    
        <button class="btn-main w-100 mt-2">Set New password</button>

        <p class=" alert alert-danger p-1 mb-0 w-75 mx-auto text-center" *ngIf="MSg"> {{MSg}} </p>

      
     

       

    
   </form>


</section>
